@use '../../../styles/' as *;

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 4px #818181;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 999;
}

.header,
.footer {
    height: 60px;
    width: 100%;
    font-weight: 500;
    color: #818181;
    // background-color: red;
}

.container {
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    background-color: #f9f9f9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px #818181;
    position: relative;

    // min-height: 483px;

    span {
        // font-size: 28px;
        // color: #818181;
        // font-weight: 500;
    }

    .bodyTop {
        @include flex(center, flex-start, column);

        position: absolute;
        width: 100%;
        height: auto;
        top: 10%;
    }

    .btnBaocao {
        z-index: 9;

        :hover {
            color: var(--primary);
        }
    }

    .bodyBot {
        @include flex(center, flex-end, column);

        width: 100%;
        height: auto;
        box-shadow: 0px 2px 3px 1px #999999;

        .bodyDetail {
            margin-top: 20px;
        }

        .titleBody {
            @include flex(center, space-between, unset);
            gap: 10px;
            width: 99%;
            padding-bottom: 10px;
            border-bottom: 1px solid #999;
        }
        .miniTitle {
            @include flex(center, space-between, unset);
            gap: 10px;

            .date {
                font-size: 30px;
            }
        }

        .totalAmount {
            font-size: 20px;
            color: #333;
        }

        .dichVu {
            .dateMonthYear {
                font-size: 14px;
                font-weight: 400;
            }

            span {
                color: #333;
                font-size: 18px;
            }
            p {
                color: #999;
                font-size: 14px;
            }
        }
    }

    .bodyDetail {
        @include flex(center, space-between, unset);
        width: 100%;
        padding: 10px 20px;
        background-color: #fff;
        flex-wrap: wrap;

        .detailChild {
            @include flex(center, space-between, unset);
            gap: 10px;
            width: 99%;
            padding: 5px 0;
            margin-top: 10px;
            background-color: transparent;
            border: none;

            .amount {
                /* Default styling for the amount */
            }

            .income {
                color: rgb(0, 179, 255);
            }

            .expense {
                color: #e51c23;
            }

            .dichVu {
                text-align: start;
            }
        }

        .detailChild:hover {
            background-color: #ff880063;
        }

        .tienVao {
            color: rgb(0, 179, 255);
        }

        .tienRa {
            color: rgba(255, 0, 68, 0.777);
        }

        span {
            font-size: 20px;
        }

        p {
            font-size: 20px;
        }

        .lineTop {
            border-top: 1px solid #818181;
            color: #222;
        }
    }

    .showDetail {
        border-top: 1px solid #999;
        border-bottom: none;
        border-left: none;
        border-right: none;
        cursor: pointer;
        :hover {
            background-color: var(--primary);
        }
    }
}
