@use '../../../../styles/' as *;

.detailBackground {
    @include flex(center, center, column);
    top: 0%;
    right: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 99;

    .header {
        width: 50%;
    }

    .body {
        @include flex(center, space-evenly, unset);

        width: 50%;
        padding: 30px;
        height: auto;
        color: #fff;
        background-color: #fff;

        .infoCard {
            @include flex(start, space-around, column);
            height: 80%;
            width: 40%;
            background-color: #f89a2d;
            padding: 10px;
            border-radius: 5px;

            p {
                font-size: 20px;
                margin-bottom: 10px;

                &.timer {
                    color: #ffffff;
                }

                &.price {
                    color: #ffffff;
                    font-weight: bold;
                    display: flex;
                }
            }
        }
    }

    .QRCard {
        @include flex(center, space-evenly, column);
        gap: 10px;

        .imgMomo {
            width: 80%;
            height: auto;
        }

        p {
            color: #ff8a00;
        }

        span {
            text-align: center;
            color: black;
            font-size: larger;
        }
    }
}
