@use '../../../../styles/' as *;

.detailBackground {
    @include flex(center, center, column);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;

    .header {
        width: 50%;
    }

    .body {
        @include flex(center, space-evenly, unset);

        width: 50%;
        padding: 30px;
        height: auto;
        color: #fff;
        background-color: #fff;

        .infoCard {
            @include flex(start, space-around, column);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            height: 80%;
            width: 40%;
            background-color: #f89a2d;
            padding: 20px;
            border-radius: 5px;

            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #fff;

                &.timer {
                    font-weight: bold;
                    display: inline-block;
                    padding: 10px;
                    background-color: #fcfcfc;
                    color: #0c0c0c;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }

                &.price {
                    color: #ffffff;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid #ffffff;
                    padding-bottom: 2px;
                }
            }
        }
    }

    .QRCard {
        @include flex(center, space-evenly, column);
        gap: 10px;

        .imgMomo {
            width: 80%;
            height: auto;
        }

        p {
            color: #ff8a00;
        }

        span {
            text-align: center;
            color: black;
            font-size: larger;
        }
    }
}
