@use '../../../styles/' as *;

.content {
    @include flex(unset, space-evenly, unset);

    height: 2000px;
    background-color: rgba($color: #c1bdbd, $alpha: 26%);

    .inner {
        height: 20%;
        width: 600px;
        margin-top: 50px;
        border: 1px solid none;
        border-radius: 20px;
        // box-shadow: 0px 2px 0px 2px #999999;
        border-collapse: collapse;
        background-color: #fff;
    }
}
