@use '../../../styles/' as *;

.wrapper {
    width: 600px;

    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;

    margin-top: 10px;

    .openingBalance {
        width: 50%;
        text-align: center;
    }

    .endingBalance {
        width: 50%;
        text-align: center;
    }

    .title {
        color: #666;
        margin-top: 10px;
    }

    .totalO {
        font-size: 20px;
        font-weight: 400;
    }

    .totalE {
        font-size: 20px;
        font-weight: 400;
    }

    .netIncome {
        @include flex(center, center, column);
        height: auto;
        width: 100%;
        border-top: 1px solid #999;
        margin-top: 10px;
        background-color: #fff;

        .totalN {
            margin-top: 5px;
            font-size: 30px;
            font-weight: 400;
        }

        .columnChart {
            width: 100%;
        }

        .recharts-surface {
            width: 120% !important;
        }
    }
}

.calendar {
    margin-top: 10px;
    margin-left: 20px;
}
